body {
  background-color: #000509;
  color: #fff;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 320px;
}

#header {
  background-color: #151920;
  border-radius: 12px;
  border: 1px solid #686f79;
  padding: 10px;
  margin-top: 16px;
}

h1 {
  color: white;
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  margin-top: 16px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: #151920;
  width: 200px;
  min-width: 200px;
  border-radius: 12px;
  border: 1px solid #686f79;
}

#buttons {
  list-style-type: none;
  padding: 0;
}

.sidebarButton {
  display: block;
  padding: 10px;
  margin: 10px 10px;
  background-color: #262b32;
  color: #fff;
  border-radius: 12px;
  border: 1px solid #686f79;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.sidebarButton:hover {
  background-color: #777;
}

#main-content {
  background-color: #151920;
  border-radius: 12px;
  border: 1px solid #686f79;
  margin-left: 16px;
  width: 100%;
  box-sizing: border-box;
}

.wikiContent {
  margin: 15px;
}

pre code {
    display: block;
    padding: 10px;
    background-color: #262b32;
    border-radius: 5px;
}

code {
    background-color: #444550;
    padding: 3px;
    border-radius: 4px;
}

a {
    color: #136BDA;
}
