body {
  background-color: #000509;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 320px;
}

#header {
  background-color: #151920;
  border-radius: 12px;
  border: 1px solid #686f79;
  padding: 10px;
  margin-top: 12px;
}

h1 {
  color: #fff;
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  flex-grow: 1;
  margin-top: 18px;
}

#sidebar {
  background-color: #151920;
  width: 200px;
  border-radius: 12px;
  border: 1px solid #686f79;
}

#buttons {
  list-style-type: none;
  padding: 0;
}

.sidebarButton {
  display: block;
  padding: 10px;
  background-color: #262b32;
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid #686f79;
  transition: background-color 0.2s ease;
  margin: 0 10px 10px;
  cursor: pointer;
}

.sidebarButton:hover {
  background-color: #777;
}

#main-content {
  margin-bottom: 18px;
  margin-right: 18px;
  margin-left: 18px;
}